body{

margin:0;
padding:10px;
background:#e9e9e9;
font-family:Arial;

}

.pedido-container{

width:794px;
min-height:1123px;
margin:auto;
background:white;
padding:25px;
box-sizing:border-box;

}

.topo{

display:flex;
justify-content:space-between;
align-items:center;
border:2px solid black;
padding:20px;
gap:20px;

}

.logo-area{

display:flex;
align-items:center;
gap:20px;

}

.logo{

width:110px;

}

.empresa-info h2{

margin:0;
font-size:28px;

}

.empresa-info p{

margin:2px 0;
font-size:14px;

}

.pedido-box{

border-left:2px solid black;
padding-left:30px;
min-width:280px;

}

.pedido-box h1{

font-size:70px;
margin:0;

}

.numero-pedido{

font-size:18px;
margin-top:8px;

}

.dados-cliente{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:20px;

}

.dados-cliente input{

padding:12px;
font-size:16px;
border:1px solid #999;
box-sizing:border-box;
width:100%;

}

.tabela-itens{

width:100%;
border-collapse:collapse;
margin-top:20px;
table-layout:fixed;

}

.tabela-itens th{

background:#dbe7ef;
padding:12px;
border:1px solid black;
font-size:16px;

}

.tabela-itens td{

border:1px solid black;

}

.tabela-itens input{

width:100%;
height:45px;
border:none;
padding:8px;
font-size:16px;
box-sizing:border-box;

}

.total-area{

display:flex;
justify-content:flex-end;
align-items:center;
gap:20px;
margin-top:20px;

}

.total-label{

font-size:28px;
font-weight:bold;

}

.total-box{

background:#dbe7ef;
padding:18px 35px;
font-size:24px;
font-weight:bold;
border:2px solid black;
min-width:180px;
text-align:center;

}

.botoes{

display:flex;
gap:20px;
margin-top:30px;

}

.botoes button{

flex:1;
padding:20px;
background:black;
color:white;
border:none;
font-size:22px;
cursor:pointer;

}

/* MOBILE */

@media(max-width:768px){

body{

padding:5px;

}

.pedido-container{

width:100%;
min-height:auto;
padding:12px;

}

.topo{

flex-direction:column;
align-items:flex-start;

}

.logo-area{

flex-direction:row;
align-items:center;

}

.logo{

width:80px;

}

.empresa-info h2{

font-size:20px;

}

.empresa-info p{

font-size:12px;

}

.pedido-box{

border-left:none;
padding-left:0;
margin-top:10px;

}

.pedido-box h1{

font-size:42px;

}

.numero-pedido{

font-size:16px;

}

.dados-cliente{

grid-template-columns:1fr;

}

.dados-cliente input{

font-size:15px;
padding:10px;

}

.tabela-itens th{

font-size:13px;
padding:8px;

}

.tabela-itens input{

font-size:14px;
height:40px;
padding:5px;

}

.total-area{

flex-direction:column;
align-items:flex-end;

}

.total-label{

font-size:22px;

}

.total-box{

font-size:22px;
padding:15px 20px;

}

.botoes{

flex-direction:column;

}

.botoes button{

font-size:18px;
padding:16px;

}

}

/* PDF */

@media print {

body{

background:white;
padding:0;

}

.botoes{

display:none;

}

.pedido-container{

width:794px;
min-height:1123px;
padding:20px;
margin:0 auto;
box-shadow:none;

}

}

.pagamento-area{

display:flex;
gap:20px;
margin-top:18px;
margin-bottom:18px;
align-items:center;
flex-wrap:wrap;

}

.check-pagamento{

display:flex;
align-items:center;
gap:8px;
font-size:18px;

}

.check-pagamento input{

width:20px;
height:20px;
cursor:pointer;

}